<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rolling-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.alterorb/logs/latest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.alterorb/logs/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.alterorb.launcher" level="trace" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="rolling-file"/>
    </logger>

    <root level="error">
        <appender-ref ref="stdout"/>
    </root>
</configuration>